.welcome-style {
    font-size:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.jumbotron-jumbotron-style {
  position: absolute;
  top: 50%;
  left:50%;
  width:100%;
  background-color:inherit;
  text-align:center;
  transform: translate(-50%,-50%);
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}
.navigation {
    height:100vh;
    max-width:10rem;
    margin:0px !important;
    position:absolute;
    float:left;
}
.item {
    height: 10rem;
    width:10rem;
    margin:0.2rem;
    transition: 0.3s;
    text-align:center;
    font-size:6rem;
    line-height:10rem;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.item:hover, .item-active {
    /* background-color: rgb(61, 61, 61); */
}
.visualization-wrapper {
    position:absolute;
    left:10rem;
    margin:2rem;
}
.reselect-bar {
    position:absolute;
    top:0;
    left:0;
    height:6rem;
    line-height:6rem;
    width:100vw;
    border-bottom:1px #cecece solid;
}

.reselect-bar h2 {
    margin-left:1rem;
    line-height: inherit;
}

.reselect-bar span {
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    line-height: inherit;
    height: inherit;
    padding: 0 4rem;
}
.main-screen-wrapper {
    margin-top: 6rem;
}

/* .daytime-heatmap-hint {
    background-color:black;
    padding:0.3rem;
    border-radius:0.3rem;
} */