.welcome-style {
    font-size:100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.jumbotron-jumbotron-style {
  position: absolute;
  top: 50%;
  left:50%;
  width:100%;
  background-color:inherit;
  text-align:center;
  transform: translate(-50%,-50%);
}
.btn-file {
    position: relative;
    overflow: hidden;
}
.jumbotron .btn-file {
    font-size: 2rem;
}
.btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;   
    cursor: inherit;
    display: block;
}
.navigation {
    width:5vw;
    max-width:6vw;
    margin:0px !important;
    position:absolute;
    float:left;
}
.item {
    height: 5vw;
    width:5vw;
    margin:0.2rem;
    transition: 0.3s;
    text-align:center;
    font-size:3vw;
    line-height:5vw;
    -webkit-user-select: none; /* Safari */        
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE10+/Edge */
    user-select: none; /* Standard */
}
.item:hover, .item-active {
    /* background-color: rgb(61, 61, 61); */
}
.visualization-wrapper {
    width: 95vw;
    margin-left: auto;
    margin-right: auto;
}

.reselect-bar {
    position:absolute;
    top:0;
    left:0;
    height:6rem;
    line-height:6rem;
    width:100vw;
    border-bottom:1px #cecece solid;
}

.reselect-bar h2 {
    position:absolute;
    margin-left: auto;
    margin-right: auto;
    line-height: inherit;
    text-align: center;
}

.reselect-bar .chat-name {
    left: 2rem;
    font-size: 1.5rem;
}

.reselect-bar .title {
    left:0;
    right:0;
}

.reselect-bar span {
    background-color:#007bff1a;
    border-top: none;
    border-right: none;
    border-bottom: none;
    font-size: 1.5rem;
    font-weight: 600;
    border-radius: 0px;
    position: absolute;
    float: right;
    top: 0;
    right: 0;
    line-height: inherit;
    height: inherit;
    padding: 0 4rem;
}
.main-screen-wrapper {
    margin-top: 6rem;
}

.visualization-with-legend {
    display:flex;
}

.total-messages-heatmap-container {
    padding: 3rem 1rem 1rem 1rem;
}

.total-messages-heatmap-container h4 {    
    font-weight: 700;
    font-size: large;
    border-bottom: 1px #80808059 solid;
    padding-left:1rem;
}

.heatmap-inner-div {
    height: 30px;
    margin-top: -8.10811px;
}
.total-messages-heatmap-container .header-data {    
    float:right;
    font-weight: normal;
    font-size:1.2rem;
}

.reselect-bar .dropdown, .reselect-bar button {
    left: 0;
    right: 0;
    position: absolute;
    width: 22rem;
    margin-left: auto;
    margin-right: auto;
    height: 6rem;
}

.reselect-bar .dropdown .dropdown-item {
    width:21rem;
    font-size: 1.25rem;
    line-height: 2.5rem;
    text-align: center;
}

.instructions {
    width:35vw;
    text-align:center;
    margin-left:auto;
    margin-right:auto;
    font-size:1.4rem;
    margin-top:4rem;
    list-style:none;
}

/* .daytime-heatmap-hint {
    background-color:black;
    padding:0.3rem;
    border-radius:0.3rem;
} */